@model DashboardVisual.Models.Mytable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mytable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relevance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relevance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pestle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pestle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likelihood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likelihood)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
